@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.hero {
  background-image: url("/bgw1.jpg");
  background-size: contain;
}

.services-items {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 22em));
}

.about-items {
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(15em, 18em));
  justify-content: center;
}

.active {
  @apply text-green-600;
}

@media (prefers-color-scheme: dark) {
  .hero {
    background-image: url("/dark_bg1.jpg");
  }
}

@media screen and (max-width: 640px) {
  .services-items {
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  }

  .about-items {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
